/* Add CSS styling here */

/* css meyer reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* general styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    border: 1px solid grey;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}




/* 
font-family: 'Lily Script One', cursive;
font-family: 'Montserrat', sans-serif; */

/* body styles */

.nav {
    background-color: #C1E1C1;
    padding: 1%;

}

h1 {
    font-size: 4rem;
}

div.buttons {
    margin-left: 2%;
    display: flex;
}

.buttons a {
    color: black;
    background-color: white;
    text-decoration: none;
    width: 12%;
    padding: .5% 1%;
    text-align: center;
    border: 1px solid black;
}

.buttons a:hover {
    color: white;
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: .5%;
}


.header .profile-pic {
    width: 50%;
}

.profile-pic img {
    border: 2px solid black;
}

.header-copy {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    margin-top: 3%;

}

.header-copy h2, a, p {
    margin: 1%;
    align-items: space-between;
}

.header-copy h2 {
    font-size: 3rem;
    display: inline-block;
}

.header-copy a {
    text-decoration: none;
    display: inline-block;
}

.gallery-top, .gallery-bottom {
    display: flex;
}


.gallery-image {
    width: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #C1E1C1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer h2 {
    width: 20%;
    border: 1px solid red;
    display: inline;
    text-align: center;
    padding: 2%;
}

.footer div {
    width: 20%;
    border: 2px solid black;
    margin-bottom: 2%;
    text-align: center;
    padding: 1%;
}




